@charset "UTF-8";
*,body{
	font-family: Arial,Menlo,monospace,"Courier New", Courier;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

ul,dl,dd,dt{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
img {
	border:none;

}
a {
	text-decoration: none;
 	cursor: pointer;
}
.submit_button {
	background-color: #E15360;
	color: #FFF;
	text-align: center;
	width: 120px;
	border: none;
	line-height: 25px;
}
.openTitle{
	font-weight: bold;
	font-size: 14px;
	/*line-height:25px;*/
	color: #0d6004;
}
.openHeight{
	line-height:37px;
}
.box-border{
	border: #229159 solid 1px ;
}
.box-height-auto{
	height: auto;
}
.box-margin{
	margin: 10px;
}
.border-bottom{
	border-bottom: #cdcdcd 1px dashed;
}