@charset "UTF-8";
*,body{
	font-family: Arial,Menlo,monospace,"Courier New", Courier;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
ul,dl,dd,dt{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
img {
	border:none;

}
a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.submit_button {
	background-color: #E15360;
	color: #FFF;
	text-align: center;
	width: 120px;
	border: none;
	line-height: 25px;
}
