@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font: 12px '微软雅黑';
    color: #FFFFFF;
}

dl, dt, dd {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: auto;
}

.leftsidebar_box {
    width: 180px;
    height: auto !important;
    overflow: visible !important;
    position: fixed;
    /* [disabled]height:100% !important;
*/
}

.title {
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #229159;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    line-height: 32px;
    cursor: pointer;
    padding: 0 10px 0 20px;
    margin: 0 0 18px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: #006600;
    border-left-color: #006600;
}

.leftsidebar_box dt {
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    line-height: 32px;
    cursor: pointer;
    padding: 0 10px 0 30px;
    margin: 7px 0 0;
    background-color: #229159;
    background-position: 10px center;
    border-left: 1px solid #006600;
    border-bottom: 1px solid #006600;
    font-weight: bold;
}

.leftsidebar_box dd {
    padding-left: 30px;
    color: #229159;
    display: block;
    border-left: 1px solid #006600;
    border-bottom: 1px solid #006600;
    margin-left: 30px;
}

.leftsidebar_box dd a {
    color: #006600;
    line-height: 27px;
    font-size: 13px;
}

.leftsidebar_box dd a span {
    color: #006600;
    line-height: 27px;
    font-size: 13px;
}

.leftsidebar_box dl dd:last-child {
    margin-bottom: 10px;
}
