*{
    font-family: Menlo,monospace,Arial,"Courier New", Courier;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}
.bg{
    background: top left no-repeat url(../images/bg.jpg);
}
.bgWhite{
    background-color: rgba(255, 255, 255, 0.30);
}
.text14 *{
    font-size: 14px;
}
.textGrey{
    color: #777777;
}
.textRed{
    color: #da0707;
}
.input30{
    width: 30%;
    margin: auto;
}

